// Colors
$body-bg-clr: #e5f4f9;
$body-clr-light: #8b939c;
$body-font: "Roboto", sans-serif;
$page-bg-clr: #f2f5f7;
$accent-clr: #ff6600;
$clr-main: #301a4b;
$body-clr: #3d4954;
$border-color: #b8bec3;
$placeholder: #ccd0d2;
$base-bg:#d7d2e9;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$body-header-mb: 100px;
$border-bottom-clr: rgba(9, 30, 66, 0.13);
$boards-section-mb: 50px;
// Popovers
